<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" conent="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style/reset.css">
<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/layout.css">
<link rel="stylesheet" href="/style/module.css">
<title>Sorry!</title>
</head>

<body>
<header>
<h1>404 Error</h1>
<h2>Sorry not sorry!</h2>
<img src="https://images.unsplash.com/photo-1545341706-733b2b51174f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80" alt=" sloth" >
</header>

<main>

</main>
</body>

</html>