<!DOCTYPE html>
<html>
<head>
    <title>Book App</title>
    <link rel="stylesheet" href="/style/base.css">
</head>
<body>
    <main>
        <h4> Hello World</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus dolore perspiciatis necessitatibus magnam, labore id minus quibusdam officiis odit ipsum quia, incidunt accusamus tempora illo nemo! Officiis, commodi sapiente?</p>
    </main>
</body>
</html>